
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Colors Used*/
.primary-color{
    color: #E95A08;
}
.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}
.nav-1st-color{
    color: #252432;
}
.nav-2nd-color{
    color: #8987A1;
}

.nav-1st-color:hover, .nav-2nd-color:hover {
    color: #E95A08;
}

.btn-primary{
    width: 100%;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 20px;
    font-size: 16px;
}

.btn-primary:hover{
    background-color: #60c359;
}


html{
    background-color: #F5F8FF;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h4, h5, h6 {
    font-weight: 600;
    font-family: "Noto Serif", serif;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo img{
    width: 120px;

}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links ul li a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}


.cart {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* Hero Banner */
.hero-banner {
  width: 100%;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #F5F8FF;
}

.hero-txt{
    font-size: 1.45rem;
    padding: 0px 20px;
}
.hero-txt h1{
    font-size: 4rem;
    color: #252432;
}


@media screen and (max-width: 576px) {
    .hero-banner {
        width: 100%;
        flex-direction: column-reverse;
        align-items: none;
        margin-top: 20px;
        padding: 0px;
    }
    .hero-txt h1 {
        font-size: 3rem;
    }
    .hero-txt p {
        font-size: 1.2rem;
    }
    .hero-img{
        width: 100%;
    }
    .hide-on-mobile {
        display: none;
    }
    .cart{
        font-size: 20px;
    }
    .fas.fa-shopping-cart {
        font-size: 20px;
    }
    .nav-bar img{
        width: 70%;
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .hero-banner{
        width: 70%;
    }
    .hero-txt h1{
        font-size: 3rem;
    }
    .hero-txt p{
        font-size: 1.2rem;
    }

    .hero-banner img {
    }
}

/*Our Plants Section*/
main{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    
    
}

main > h2{
    font-size: 3.5rem;
    margin: 80px 0px 0px 0px;
    color: #252432;
}

main > p{
    font-size: 1.45rem;
    margin-bottom: 80px;
}

.flower-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    
}

.card h3{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: medium;
}

.card p{
    font-size: 23px;
    font-weight: bolder;
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .flower-section {
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .hero-banner img {
        width: 100%;
        height: auto;
    }

    .card img{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .flower-section {
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .hero-banner img {
        width: 100%;
        height: auto;
    }

    .card img{
        width: 100%;
    }
 
    
}

/*Flower & Plants Lover Section*/
.lover-section {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 1140px;
}

.lover-txt{
    text-align: start;

}

.lover-txt h2 {
    font-size: 3.5rem;
    color: #252432;
    margin: 0px 20px;
}

.lover-txt ul li{
    font-size: 1.4rem;
    color: #8987A1;
    margin-top: 20px;
}